/* Do not put Globals anywhere but here please and thank you <3 */


body , html {
  margin: 0;
  font-family: 'Jua', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.scroll-within::-webkit-scrollbar {
  display: none;
}

.scroll-within{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

